<p>
  ID: {{user.id}}
  name: {{user.name}}
</p>
<p>
  address: {{user.address}}
</p>
<p>
  Result: {{sayHi()}}
</p>
<h1><p> Value of i: {{i}} </p></h1>
<button (click)="addCount()"> Update i</button>
<button (click)="delCount()"> Del i</button>
<p>
  <input type="text" #fullName>
  <button (click)="readName(fullName.value)">Read Name</button>
</p>
<p>
  Name: {{nameInput}}
</p>
<p>
  <input type="text" #Age>
  <button (click)="readAge(Age.value)">Enter</button>
</p>
<!-- Ng Directive -->
<div *ngIf="validAge; else falseBlock">
valid data
</div>
<ng-template #falseBlock>
  Invalid data
</ng-template>

<select>
  <option *ngFor="let m of menus">{{m}}</option>
</select>
<p>
<select name="" id="">
  <option *ngFor="let c of courses" [value]="c.id">{{c.title}}</option>
</select>
</p>

